<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.youtube.com/results?search_query=thaina+monteles" target="_blank">YOUTUBE</a></li>
			<li><a href="https://www.linkedin.com/in/thain%C3%A1-monteles-a52192219/" target="_blank">LINKEDIN</a></li>
			<li><a href="https://github.com/thmonteles" target="_blank">GITHUB</a></li>
		</ul>
	</div>
</div>
